*{
    background-color: black;
    color : white;
    text-align: center;
}
.btnPlay{
font-size: 2.5rem;
margin: 20px;
border-radius: 15px;
}
.playing {
  height:100hv;
  display:grid;
  text-align: center;
  gap: 10px;
}
.playing .list {
  list-style: none;
  background-color: black;
  color:white;
  border-radius:10px;
}
.playing li{
  display : inline-block;
  font-size: 2rem;
  padding:10px;
  text-shadow: 0 2px 2px black;
  position:relative;
}
.playing input{
  width:100%;
  padding:20px 0;
  outline:none;
  font-size:1.5rem;
  background-color: rgb(20, 20, 20);
  border-radius: 10px;
  text-align: center;
  color: white;
}
.playing li.true { 
  color : rgb(0, 255, 0);
}
.playing li.false{
  color : rgb(255, 0, 0);
}
.title {
  font-size: 5rem;
  display: inline-block;
  margin:20px;
}
.number {
  display: inline-block;
  font-size: 2.5rem;
}
.stats-txt{
  margin-top: 50px;
  font-size: 2rem;
}
.btnPlayAgain{
  font-size: 2.5rem;
  margin-top: 50px;
  padding: 10px;
  border-radius: 15px;
  }
.timer-txt{
  color: rgb(255, 255, 255);
  font-size: x-large;
}