*{
    background-color: black;
    color : white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.btnPlay{
font-size: 2.5rem;
margin: 40px;
border-radius: 15px;
padding: 5px 25px;
background-color: rgb(70, 70, 70);

}
.playing {
  height:100hv;
  display:grid;
  text-align: center;
  gap: 10px;
}
.playing .list {
  list-style: none;
  background-color: black;
  color:white;
  border-radius:10px;
}
.playing li{
  display : inline-block;
  font-size: 1.75rem;
  padding:10px;
  text-shadow: 0 2px 2px black;
  position:relative;
}
.playing input{
  width:100%;
  padding:20px 0;
  outline:none;
  font-size:1.5rem;
  background-color: rgb(20, 20, 20);
  border-radius: 10px;
  text-align: center;
  color: white;
}
.playing li.true { 
  color : rgb(0, 255, 0);
}
.playing li.false{
  color : rgb(255, 0, 0);
}
.title {
  font-size: 8rem;
  display: inline-block;
  margin:20px;
}
.number {
  display: inline-block;
  font-size: 2.5rem;
}
.stats-txt{
  margin:40px 20px ;
  font-size: 2rem;
  background-color: rgb(30, 30, 30);
}
.btnEnd{
  font-size: 2.5rem;
  margin-top: 30px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
  background-color: rgb(30, 30, 30);
  display: inline;
  }
.timer-txt{
  color: rgb(255, 255, 255);
  font-size: x-large;
}
.login {
  margin: auto;
  margin-top: 100px;
  border-radius: 15px;
  padding: 30px 60px;
  background-color: rgb(45, 45, 45);
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.login h1{
  background-color: rgb(45, 45, 45);
  font-size: 3rem;
}
.login p{
  margin: 0;
  background-color: rgb(45, 45, 45);

}
.login input {
  padding: 15px;
  margin : 5px;
  border-radius: 7px;
}
.login button {
  padding:10px 20px; 
  margin:10px;
  border-radius: 7px;
}

.register {
  margin: auto;
  margin-top: 100px;
  border-radius: 15px;
  padding: 30px 60px;
  background-color: rgb(45, 45, 45);

  justify-content: center;
  align-items: center;
  width: fit-content;
}
.register h1 {
  background-color: rgb(45, 45, 45);

  font-size: 3rem;
}
.register p{
  background-color: rgb(45, 45, 45);

  margin: 0;
}
.register input {
  border-radius: 10px;
  padding: 10px;
  margin : 5px;
}
.register button {
  border-radius: 7px;
  padding:10px 20px; 
  margin:10px;
}
.navbar {
  padding: 5px;
}
.navbar button {
 margin: 10px;
}
.stats {
  display: inline-block;
  margin-top: 20px;
  border-radius: 30px;
  border: 2px solid white;
  padding: 20px;
  background-color: rgb(30, 30, 30);
}
.greeting p {
  display : inline-block;
}
.timer-selector {
  font-size: 20px;
  margin-top: 40px;
}

.WPM {
  font-size: 16px;
  font-weight: bold;
}
.leaderboard {
  text-align: center;
  margin-top: 100px;
}
.leaderboard-table{
  margin: 0 auto;
}
.leaderboard-header{
  padding: 20px 200px ; 
  background-color: rgb(30, 30, 30);
}
.leaderboard-data{
  padding: 20px ;
  font-size: 25px;
}
.leaderboard-title{
  font-size: 50px;
}
.current-user td {
  background-color: green;
}
.other-user td{
  background-color: rgb(10, 10, 10);
}
.navbar button{
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(70, 70, 70);
}
.WpmChart-container {
  margin: 50px auto; 
  width: 1200px; 
}
/* styles.css */
.greeting {
  display: flex;
  justify-content: space-between;
}
.greeting p{
  padding: 10px;
  margin-left: 20px;
  font-size: 20px;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 4px 2px 7px rgb(108, 108, 108);
  border-radius: 15px;
}
